#generalPrueba{
background-image: url(../imagenes/fondos/Iruyaparafondo.jpeg);
background-size: 1500px;
}

.tirulo2{
    color: white;
    display: flex;
    justify-content: center;
    height: 150px;
    font-size: 40px;
}

#boton3{
    display: flex;
    justify-content: center;
    color: black;
    width: 200px;
    font-size: 10px;
}

#generalMes{
    background-image: url(../imagenes/fondos/Iruyaparafondo.jpeg);
background-size: 1500px;
}