#generalPago{
    background-image: url(../imagenes/fondos/-Jujuy-Province.jpg);
    background-size: 1500px;
}
#formaDePagoelegida{
    background-color: rgb(116, 116, 141);
    display: flex;
    justify-content: center;
}
#divDolar{
    display: flex;
    justify-content: end;
    background-color: aliceblue;
}